h1, h3
{
	text-align: center;
}

h3
{
	color: white;
	background-color: black;
	font-size: 0.9em;
	margin-bottom: 0px;	
}


.news
{
	width: 70%;
	margin: auto;
}

.news p
{
	background-color: #CCCCCC;
	margin-top: 0px;
}

a
{
	text-decoration: none;
	color: blue;
}