body
{
	width: 50%;
	min-width: 260px;
	margin: auto;	
}

h3
{
	text-align: center;
	color: white;
	background-color: black;
	font-size: 0.9em;
	margin-bottom: 0px;	
}


.news p
{
	background-color: #CCCCCC;
	margin-top: 0px;
}

a
{
	text-decoration: none;
	color: blue;
}

h1 {
    text-align: center;
    border: 3px blue solid;
    box-shadow: 6px -6px 6px;
}

.navigation {
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: auto;
    padding: 10px;
}

header a {
    border: 2px black solid;
    color: white;
    background: rgb(30, 30, 180);
    text-decoration: none;
    padding: 5px;
    
    /*margin: haut/bas gauche/droite;*/
}

header a:hover {
    color: black;
    background-color: rgb(150, 150, 230);
}

header a:active {
    font-weight: bold;
}